.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .input-file {
    margin-bottom: 2rem;
  }

  .buttons-container {
    margin-bottom: 2rem;
  }

  .react-player {
    margin-bottom: 1rem;
  }

  .list-container {
    height: 20rem;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
    
  }

  .list-item {
    user-select: none;
    border: 1px solid black;
    margin: .5rem 0;
    transition: all .3s;
    

    &:hover {
      cursor: pointer;
      background-color: #94d5f3;
      color: black;
      
    }

    &:active {
      transform: scale(1.1);
    }
  }
}

